/**
 * Variables
 *
 * @author magnify
 */



/* Spacing variables
   ========================================================================== */

$large-spacing:                   20px;
$medium-spacing:                  10px;
$small-spacing:                   5px;



/* Zen Grid variables
   ========================================================================== */

$zen-column-count: 12;
$zen-gutter-width: 20px;
$box-sizing-polyfill-path: "/sites/all/themes/litteratursiden/scripts/boxsizing.htc";



/* Breakpoints
   ========================================================================== */

$breakpoint-low:                  580px;
$breakpoint-small:                480px;
$breakpoint-medium:               768px;
$breakpoint-large:                940px;
$breakpoint-x-large:              1210px;



/* Standard color definitions
   ========================================================================== */

$white:                          #fff !default;
$black:                          #000 !default;
$gray-darkest:                   #333333;
$gray-darker:                    lighten($gray-darkest, 10%);
$gray-dark:                      lighten($gray-darkest, 20%);
$gray:                           lighten($gray-darkest, 30%);
$gray-light:                     lighten($gray-darkest, 40%);
$gray-lighter:                   lighten($gray-darkest, 60%);
$red:                            #a32e10;
$green:                          #528c10;
$yellow:                         #f0cb28;



/* Theme color definitions
   ========================================================================== */

$base-primary-color:             #ff861a;
$base-secondary-color:           $white;
$base-tertiary-color:            #e6e2db;



/* Font library
   ========================================================================== */

$base-icon-library-font:         "FontAwesome";



/* Typography
   ========================================================================== */

$font-regular:                    "ChivoRegular";
$font-regular-italic:             "ChivoItalic";
$font-bold:                       "ChivoBlack";
$font-bold-italic:                "ChivoBlackItalic";
$font-color-primary:              darken($base-secondary-color, 50%);
$font-color-secondary:            transparentize($black, .3);
$font-heading:                   "LaconicRegular";


/* Font variables
   ========================================================================== */

$base-font-size:                  16px;
$base-line-height:                24px;
$base-font-family:                $font-regular, "Helvetica Neue", Helvetica, "Lucida Sans Unicode", Arial, sans-serif;
$secondary-font-family:           $font-heading, "Helvetica Neue", Helvetica, "Lucida Sans Unicode", Arial, sans-serif;
$base-font-weight-normal:         normal;
$base-font-weight-bold:           normal;



/* Font sizes
   ========================================================================== */

$font-size-giga:                  200%;
$font-size-largest:               170%;
$font-size-larger:                160%;
$font-size-large:                 130%;
$font-size-medium:                110%;
$font-size-reset:                 100%;
$font-size-small:                 85%;
$font-size-tiny:                  75%;


/* Layout
   ========================================================================== */

$base-border-radius:              5px;



/* Links
   ========================================================================== */

$link-color:                      darken($base-primary-color, 10%);
$link-color-hover:                darken($base-primary-color, 8%);
