/**
 * Layout
 *
 * Base layout stuff
 *
 * @author magnify
 */



/* Site header
   ========================================================================== */

.site-header {
  @include background-image(linear-gradient(darken($white, 12%), darken($white, 3%)));

  border-bottom: 1px solid $gray-lighter;
}

.header-wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
  overflow: hidden;
  position: relative;
}

.header-inner {
  overflow: hidden;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
}


/* Logo
   ========================================================================== */

.logo {
  @include zen-grid-item(4, 1);

  padding-left: 0;
}


/* Content
   ========================================================================== */

.content-wrapper {
  border-top: 1px solid $gray-light;
  clear: both;
  overflow: hidden;
  padding-bottom: $large-spacing;
}

.content-inner {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
  overflow: visible;
}


/* Layouts
   ========================================================================== */

.front {
  .primary-content {
    @include zen-grid-item(8, 1);
  }

  .secondary-content {
    @include zen-clear(right);
    @include zen-grid-item(4, 1, right);
  }

  .tertiary-content {
    @include zen-clear(left);
    @include zen-grid-item(8, 1);

    .spotbox:nth-child(odd) {
      @include zen-clear(left);
      @include zen-grid-item(6, 1);
    }

    .spotbox:nth-child(even) {
      @include zen-grid-item(6, 1, right);
    }
  }

  .attachment-wrapper {
    @include zen-clear(both);
  }

  /* Media queries */
  @include small-medium() {
    .primary-content,
    .secondary-content,
    .tertiary-content {
      @include zen-clear();
      @include zen-grid-item(12, 1);

      .spotbox,
      .spotbox:nth-child(odd),
      .spotbox:nth-child(even) {
        @include zen-clear();
        @include zen-grid-item(12, 1);
      }
    }
  }
}


/* Right sidebar only */
.left-sidebar {
  .primary-content {
    @include zen-grid-item(9, 1, right);
  }

  .secondary-content {
    @include zen-grid-item(3, 1);
  }

  .tertiary-content {
    @include zen-clear(both);
    @include zen-grid-item(12, 1);

    .spotbox:nth-child(odd) {
      @include zen-clear(left);
      @include zen-grid-item(6, 1);
    }

    .spotbox:nth-child(even) {
      @include zen-grid-item(6, 1, right);
    }
  }
}


/* Both sidebars */
.both-sidebars {
  .static-content {
    @include zen-grid-item(3, 1, right);
  }

  .primary-content {
    @include zen-grid-item(6, 4);
  }

  .secondary-content {
    @include zen-grid-item(3, 1);
  }

  .tertiary-content {
    @include zen-clear(right);
    @include zen-grid-item(3, 1, right);
  }
}



.attachment-wrapper {
  @include zen-clear(both);
}

.attachment-first {
  @include zen-grid-item(3, 1);
}

.attachment-second {
  @include zen-grid-item(3, 4);
}

.attachment-third {
  @include zen-grid-item(3, 4, right);
}

.attachment-fourth {
  @include zen-grid-item(3, 1, right);
}