/**
 * Internet Explorer 8
 *
 * @author magnify
 */
/**
 * Variables
 *
 * @author magnify
 */
/* Spacing variables
   ========================================================================== */
/* Zen Grid variables
   ========================================================================== */
/* Standard color definitions
   ========================================================================== */
/* Theme color definitions
   ========================================================================== */
/* Font library
   ========================================================================== */
/* Typography
   ========================================================================== */
/* Font variables
   ========================================================================== */
/* Font sizes
   ========================================================================== */
/* Layout
   ========================================================================== */
/* Links
   ========================================================================== */
/* line 9, ../sass/odaa.ie8.scss */
img {
  width: auto;
}

/* line 14, ../sass/odaa.ie8.scss */
.main-menu .menu-item {
  background-color: #959595;
}

/* line 19, ../sass/odaa.ie8.scss */
.footer-wrapper {
  background-color: #96b000;
}
