/**
 * Internet Explorer 8
 *
 * @author magnify
 */

@import "framework/_variables";

img {
  width: auto;
}

.main-menu {
  .menu-item {
    background-color: $gray-darker;
  }
}

.footer-wrapper {
  background-color: $base-tertiary-color;
}