/**
 * Community
 *
 * @author magnify
 */



/* Community
   ========================================================================== */
.community--wrapper {
  @extend %section-spacing;
}


/* Community list
   ========================================================================== */
.community--list-wrapper {
  @extend %section-spacing;
}

.community--list-heading {
  @extend %module-list-alternate-heading;
}

.community--empty-text {
  @extend %empty-text;

  font-size: $font-size-larger;
}

.community--list {
  @extend %module-list-alternate;
}

.community--list-item {
  @extend %module-list-alternate-item;
}

.community--list-icon {
  @extend %module-list-alternate-icon;
}

.community--list-content {
  @extend %module-list-alternate-content;
}


.community--list-meta {
  @extend %module-list-alternate-meta;
}

.community--list-posted {
  @extend %module-list-alternate-posted;
}

.community--list-author {
  @extend %module-list-alternate-author;
}

.community--list-footer {
  @extend %module-list-alternate-footer;
}

.community--list-comments-link {
  @extend %module-list-alternate-comments-link;
}

.community--list-read-more {
  @extend %module-list-alternate-read-more;
}

.community--tag {
  @include font-normal();
  @extend .label;

  font-size: $font-size-large;
}


/* Community filter
   ========================================================================== */
.community--filter {
  @extend %module--block;
}

.community--filter-inner {
  @extend %module--block--inner;
}

.community--filter-header {
  @extend %module--block--header;
}

.community--filter-list {
  @extend %module--block--list;
}

.community--filter-list-item {
  @extend %module--block--list-item;

  .active {
    &:link,
    &:visited,
    &:hover,
    &:focus,
    &:active {
      color: $link-color-hover;
    }
  }
}

