/**
 * Dataset
 *
 * @author magnify
 */



/* Dataset list
   ========================================================================== */
.dataset--data-resources {
  border-top: $base-border-style;
  margin-top: $large-spacing;
  padding-top: $large-spacing;
}

.dataset--list {
  padding-left: 0;
}

.dataset--list-item {
  background-color: $gray-light;
  overflow: hidden;
  padding: $medium-spacing $medium-spacing $medium-spacing 60px;
  position: relative;

  .dataset--info {
    float: left;
  }

  .ckan--format-label {
    left: 10px;
    position: absolute;
    top: 10px;
  }

  .dataset--description {
    margin-bottom: 0;
  }

  .dataset--actions {
    float: right;
    margin-top: 2px;
  }

  .button {
    @extend %button-action;
  }
}