/**
 * Module
 *
 * Shared module styling
 *
 * @author magnify
 */



/* Zebra stribed list
   ========================================================================== */
%section-spacing {
  border-top: $base-border-style;
  margin-top: $large-spacing;
  padding-top: $large-spacing;
}


/* Zebra stribed list
   ========================================================================== */
%zebra-list {
  &:nth-child(odd) {
    background-color: $base-color-odd;

    &:hover {
      background-color: darken($base-color-odd, 5%);
    }
  }

  &:nth-child(even) {
    background-color: $base-color-even;

    &:hover {
      background-color: darken($base-color-even, 10%);
    }
  }
}



/* Block
   ========================================================================== */

%module--block {
  margin-top: $large-spacing;

  a:link {
    color: darken($base-secondary-color, 50%);
    text-decoration: none;
  }

  a:visited {
    color: darken($base-secondary-color, 55%);
    text-decoration: none;
  }

  a:hover {
    color: $link-color-hover;
    text-decoration: none;
  }

  a:focus {
    color: darken($base-primary-color, 75%);
  }

  i[class^="icon-"] {
    margin-right: 5px;
    /* Icon gets cut off when it is the first item from the left */
    padding-left: 1px;
  }
}


%module--block--inner {
  @include border-radius($base-border-radius);

  overflow: hidden;
}


/* %module--block headers */
%module--block--header {
  background-color: darken($base-secondary-color, 10%);
  margin-bottom: 0;
  padding-top: $large-spacing;
  padding-right: $large-spacing;
  padding-bottom: 15px;
  padding-left: $large-spacing;

  a:hover {
    text-decoration: none;

    /* Inherit hover color for header labels */
    [class$="header-label"] {
      color: darken($base-secondary-color, 50%);
    }
  }

  i[class^="icon-"] {
    margin-right: 8px;
  }
}

%module--block--header-label {
  @include opacity(.5);
}


%module--block--list-header-label {
  @include opacity(.5);

  margin-right: 5px;
}


%module--block--list-header {
  @include font-normal();

  font-size: $font-size-reset;
  margin-bottom: 0;
  padding-left: 20px;
}


/* %module--block content */
%module--block--content-wrapper {
  /* Correct spacing for line height */
  margin-top: -5px;
  vertical-align: top;
}


%module--block--content {
  padding-top: $large-spacing;
  padding-right: $large-spacing;
  padding-left: $large-spacing;

  a:link {
    color: $link-color;
  }

  a:visited {
    color: darken($link-color-hover, 8%);
  }

  a:hover {
    color: $link-color-hover;
  }

  p {
    margin-bottom: 0;
  }
}


%module--block--meta-wrapper {
  @include opacity(.75);

  padding-top: $large-spacing;
  padding-right: $large-spacing;
  padding-left: $large-spacing;

  a:link {
    color: $link-color;
  }

  a:visited {
    color: darken($link-color-hover, 8%);
  }

  a:hover {
    color: $link-color-hover;
  }
}


/* %module--block list */
%module--block--list {
  padding-top: $large-spacing;
  padding-right: $large-spacing;
  padding-bottom: $large-spacing;
  padding-left: $large-spacing;
}


%module--block--list-item {
  border-bottom: 1px dashed transparentize($black, .9);
  margin-bottom: $medium-spacing;
  overflow: hidden;
  padding-bottom: $medium-spacing;

  &.last {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}


%module--block--list-posted {
  margin-bottom: 0;
}


%module--block--date {
  display: block;
}


/* %module--block image */
%module--block--image {
  @include border-radius($base-border-radius);

  border: 1px solid transparentize($black, .75);
  float: right;
  margin-top: $large-spacing;
  margin-right: $large-spacing;
  margin-bottom: $large-spacing;
  margin-left: $large-spacing;
  max-width: 100px;
  overflow: hidden;
  vertical-align: top;
}


/* %module--block list image */
%module--block--list-image {
  @include border-radius($base-border-radius);

  border: 1px solid transparentize($black, .75);
  float: left;
  margin-right: 15px;
  max-width: 50px;
  overflow: hidden;
  vertical-align: top;
}


/* %module--block footer */
%module--block--footer {
  border-top: 1px dashed transparentize($black, .9);
  clear: both;
  overflow: hidden;
  margin-top: 10px;
  margin-right: $large-spacing;
  margin-left: $large-spacing;
  padding-top: 15px;
  padding-bottom: 15px;
}


%module--block--read-more {
  float: right;
}