/**
 * Module
 *
 * Shared module styling
 *
 * @author magnify
 */



/* Move this to seperate file when done
   ========================================================================== */
.community--wrapper {
  @extend %section-spacing;
}

.community--search {
  @include border-radius($base-border-radius);

  background-color: $gray-light;
  margin-bottom: $large-spacing;
  padding: $large-spacing;

  .community--search--label {
    @include font-bold();
    @include opacity(.75);
  }

  .community--search--input {
    display: inline;
    min-width: 90%;
  }

  .community--search--button {
    @extend .button;

    display: inline-block;
    margin-top: -2px;
    padding-top: 11px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.community--actions {
  .community--action-sort-latest {
    @extend %button-theme;
  }

  .community--action-sort-hot {
    @extend .button;
  }

  .community--action-sort-latest {
    margin-right: $medium-spacing;
  }

  .community--action-create {
    @extend %button-action;

    float: right;
  }
}

.community--list {
  margin-top: $large-spacing;
  padding-left: 0;
}

.community--list-item {
  margin-bottom: $large-spacing;
  overflow: hidden;
  padding: $large-spacing;

  &:nth-child(odd) {
    background-color: $base-color-odd;
  }

  &:nth-child(even) {
    background-color: $base-color-even;
  }
}

.community--list-icon {
  @include border-radius($base-border-radius);
  @include box-sizing(border-box);

  background-color: $base-tertiary-color;
  color: $white;
  font-size: 500%;
  float: left;
  margin-top: -5px;
  margin-right: $large-spacing;
  margin-bottom: $large-spacing;
  min-width: 100px;
  padding: $medium-spacing;
  text-align: center;
  width: 100px;

  &:hover {
    background-color: darken($base-tertiary-color, 5%);
  }

  a {
    &:link,
    &:visited,
    &:hover,
    &:focus,
    &:active {
      color: $white;
    }
  }
}

.community--list-content {
  display: inline-block;
  margin-bottom: $large-spacing;
  max-width: 80%;
}


.community--list-meta {
  @include opacity(.75);

  margin-bottom: $small-spacing;

  .community--list-posted {
    margin-right: $small-spacing;
  }

  .community--list-author {
    margin-left: $small-spacing;
  }
}

.community--list-footer {
  border-top: 1px dashed darken($base-secondary-color, 25%);
  margin-top: $large-spacing;
  padding-top: $medium-spacing;
  text-align: right;

  .community--list-comments-link {
    margin-right: $small-spacing;
  }

  .community--list-read-more {
    margin-left: $small-spacing;
  }
}


/* Twitter widget
   ========================================================================== */
.twitter-widget {
  @extend %module-wrapper-style;
}


/* Empty text
 *
 * Used by CKAN for empty descriptions etc.
   ========================================================================== */
%empty-text {
  @include opacity(.5);
  @include font-italic();
}


/* Section spacing
   ========================================================================== */
%section-spacing {
  border-top: $base-border-style;
  margin-top: $large-spacing;
  padding-top: $large-spacing;
}


/* Zebra stribed list
   ========================================================================== */
%zebra-list {
  &:nth-child(odd) {
    background-color: $base-color-odd;

    &:hover {
      background-color: darken($base-color-odd, 5%);
    }
  }

  &:nth-child(even) {
    background-color: $base-color-even;

    &:hover {
      background-color: darken($base-color-even, 10%);
    }
  }
}



/* Block module
   ========================================================================== */
%module-wrapper-style {
  @include border-radius($base-border-radius);
  @include box-shadow($base-box-shadow);

  background-color: $white;
  border: 1px solid $gray;
  margin-top: $large-spacing;
  padding: $large-spacing;
}


%module--block {
  margin-top: $large-spacing;

  a:link {
    color: darken($base-secondary-color, 50%);
    text-decoration: none;
  }

  a:visited {
    color: darken($base-secondary-color, 55%);
    text-decoration: none;
  }

  a:hover {
    color: $link-color-hover;
    text-decoration: none;
  }

  a:focus {
    color: darken($base-primary-color, 75%);
  }

  i[class^="icon-"] {
    margin-right: 5px;
    /* Icon gets cut off when it is the first item from the left */
    padding-left: 1px;
  }

  p {
    margin-bottom: 0;
  }
}


%module--block--inner {
  @extend %module-wrapper-style;
}


/* %module--block headers */
%module--block--header {
  @include border-radius($base-border-radius $base-border-radius 0 0);

  background-color: $gray-light;
  border-bottom: 1px solid $gray;
  margin-top: -$large-spacing;
  margin-bottom: $large-spacing;
  margin-right: -$large-spacing;
  margin-left: -$large-spacing;
  padding-top: 14px;
  padding-right: $large-spacing;
  padding-bottom: $medium-spacing;
  padding-left: $large-spacing;

  a:hover {
    text-decoration: none;

    /* Inherit hover color for header labels */
    [class$="header-label"] {
      color: darken($base-secondary-color, 50%);
    }
  }

  i[class^="icon-"] {
    margin-right: 8px;
  }
}

%module--block--header-label {
  @include opacity(.5);
}


%module--block--list-header-label {
  @include opacity(.5);

  margin-right: 5px;
}


%module--block--list-header {
  @include font-normal();

  font-size: $font-size-reset;
  margin-bottom: 0;
  padding-left: 20px;
}


/* %module--block content */
%module--block--content-wrapper {
  /* Correct spacing for line height */
  margin-top: -5px;
  vertical-align: top;
}


%module--block--content {
  padding-top: $large-spacing;
  padding-right: $large-spacing;
  padding-left: $large-spacing;

  a:link {
    color: $link-color;
  }

  a:visited {
    color: darken($link-color-hover, 8%);
  }

  a:hover {
    color: $link-color-hover;
  }
}


%module--block--meta-wrapper {
  @include opacity(.75);

  padding-top: $large-spacing;
  padding-right: $large-spacing;
  padding-left: $large-spacing;

  a:link {
    color: $link-color;
  }

  a:visited {
    color: darken($link-color-hover, 8%);
  }

  a:hover {
    color: $link-color-hover;
  }
}


/* %module--block list */
%module--block--list {
  padding-left: 0;
}


%module--block--list-item {
  border-bottom: 1px dashed transparentize($black, .9);
  margin-bottom: $medium-spacing;
  overflow: hidden;
  padding-bottom: $medium-spacing;

  &.last {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}


%module--block--list-posted {
  margin-bottom: 0;
}


%module--block--date {
  display: block;
}


/* %module--block image */
%module--block--image {
  margin-bottom: $large-spacing;
}


/* %module--block list image */
%module--block--list-image {
  @include border-radius($base-border-radius);

  border: 1px solid transparentize($black, .75);
  float: left;
  margin-right: 15px;
  max-width: 50px;
  overflow: hidden;
  vertical-align: top;
}


/* %module--block footer */
%module--block--footer {
  border-top: 1px dashed transparentize($black, .9);
  clear: both;
  overflow: hidden;
  margin-top: 10px;
  margin-right: $large-spacing;
  margin-left: $large-spacing;
  padding-top: 15px;
  padding-bottom: 15px;
}


%module--block--read-more {
  float: right;
}