/**
 * Page
 *
 * @author magnify
 */



/* Page
   ========================================================================== */

.page--content-wrapper {
  @include border-radius($base-border-radius);
  @include box-shadow($base-box-shadow);

  background-color: $white;
  border: 1px solid $gray;
  margin-top: $large-spacing;
  padding: $large-spacing;
}

.page--content {
  /* Headers in page content */
  h3 {
    margin-top: 20px;
  }
}