/**
 * Search
 *
 * @author magnify
 */



/* Search form
   ========================================================================== */

.search-form {
  @include zen-grid-item(6, 1, right);
  @include opacity(.9);

  padding-right: 0;
  width: auto;

  .search-form-text,
  .button {
    float: left;
  }

  .search-form-text {
    @include box-sizing(border-box);

    border: 1px solid transparentize($black, .75);
    margin-bottom: 20px;
    min-width: 400px;
    padding-right: 85px;
  }

  .button {
    @include box-sizing(border-box);

    border: 1px solid transparentize($black, .5);
    margin-left: -75px;
    min-width: 75px;
    padding-bottom: 9px;
  }
}