/**
 * Spotbox
 *
 * @author magnify
 */


$spotbox-background-color:        $white;


/* Spotbox
   ========================================================================== */
.spotbox {
  @extend %module--block;
}

.spotbox--content,
.spotbox--meta-wrapper {
  a:link {
    color: $link-color;
  }

  a:visited {
    color: darken($link-color, 5%);
  }
}


.spotbox--inner {
  @extend %module--block--inner;

  background-color: $spotbox-background-color;
}


/* Spotbox header */
.spotbox--header {
  @extend %module--block--header;
}

.spotbox--header-label {
  @extend %module--block--header-label;
}


.spotbox--list-header-label {
  @extend %module--block--list-header-label;
}


.spotbox--list-header {
  @extend %module--block--list-header;
}


/* Spotbox content */
.spotbox--content-wrapper {
  @extend %module--block--content-wrapper;
}

.spotbox--content {
  @extend %module--block--content;
}

.spotbox--content-empty {
  @extend %empty-text;
}

.spotbox--meta-wrapper {
  @extend %module--block--meta-wrapper;
}


/* Spotbox list */
.spotbox--list {
  @extend %module--block--list;
}

.spotbox--list-item {
  @extend %module--block--list-item;
}

.spotbox--list-posted {
  @extend %module--block--list-posted;
}


/* Spotbox list latest */
.spotbox--list-latest {
  @extend %module--block--list;

  .spotbox--list-image {
    @include border-radius(0);
  }

  .spotbox--list-header,
  .spotbox--content,
  .spotbox--meta-wrapper {
    margin-left: 50px;
  }

  .spotbox--content {
    padding-top: 10px;
  }

}


.spotbox--date {
  @extend %module--block--date;
}


/* Spotbox images */
.spotbox--image {
  @extend %module--block--image;
}


.spotbox--list-image {
  @extend %module--block--list-image;
}


.spotbox--list-link {
  @extend %module--block--list-link;
}


/* Spotbox footer */
.spotbox--footer {
  @extend %module--block--footer;
}

.spotbox--read-more {
  @extend %module--block--read-more;
}


/* Spotbox alternate list
   ========================================================================== */
.spotbox-alternate--list-wrapper {
  @extend %section-spacing;
}

.spotbox-alternate--list-heading {
  @extend %module-list-alternate-heading;
}

.spotbox-alternate--empty-text {
  @extend %empty-text;

  font-size: $font-size-larger;
}

.spotbox-alternate--list {
  @extend %module-list-alternate;
}

.spotbox-alternate--list-item {
  @extend %module-list-alternate-item;
}

.spotbox-alternate--list-icon {
  @extend %module-list-alternate-icon;
}

.spotbox-alternate--list-content {
  @extend %module-list-alternate-content;
}


.spotbox-alternate--list-meta {
  @extend %module-list-alternate-meta;
}

.spotbox-alternate--list-posted {
  @extend %module-list-alternate-posted;
}

.spotbox-alternate--list-author {
  @extend %module-list-alternate-author;
}

.spotbox-alternate--list-footer {
  @extend %module-list-alternate-footer;
}

.spotbox-alternate--list-comments-link {
  @extend %module-list-alternate-comments-link;
}

.spotbox-alternate--list-read-more {
  @extend %module-list-alternate-read-more;
}

.spotbox-alternate--tag {
  @include font-normal();
  @extend .label;

  font-size: $font-size-large;
}