/**
 * User
 *
 * @author magnify
 */



/* User login
   ========================================================================== */
.user-login--username-wrapper,
.user-login--password-wrapper {
  margin-bottom: $large-spacing;
}

.user-login--actions {
  text-align: right;
}

.user-login--forgot-password,
.user-login--openid {
  float: left;
  margin-top: 5px;
  margin-right: 10px;
}

.user-login--submit {
  @extend .button;
}


/* User register
   ========================================================================== */
.user-register--username-wrapper,
.user-register--email-wrapper,
.user-register--password-wrapper,
.user-register--password-confirm-wrapper{
  margin-bottom: $large-spacing;
}

.user-register--actions {
  text-align: right;
}

.user-register--submit {
  @extend .button;
}

.user-register--description {
  @include opacity(.5);
}
